<div class="container-fluid">
  <div class="p-4">
    <div *ngIf="playerState" class="card bg-teal p-3 mb-4">
      <h2><u>Currently Playing:</u></h2>
      <div class="d-flex align-items-center">
        <img
          src="{{ playerState.item.album.images[1].url }}"
          width="{{ playerState.item.album.images[1].width }}"
          height="{{ playerState.item.album.images[1].height }}"
          alt="No album art found"
        />
        <div
          class="flex-grow-1 d-flex flex-column justify-content-between mx-3"
        >
          <h3>{{ playerState.item.name }}</h3>
          <h5>{{ playerState.item.album.name }}</h5>
          <p>{{ getArtistNames(playerState.item.artists) }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div *ngIf="topArtists" class="card bg-teal p-3">
          <h4><u>Top Artists This Month:</u></h4>
          <table>
            <tr *ngFor="let artist of topArtists">
              <td>
                <img
                  src="{{ artist.images[2].url }}"
                  width="{{ artist.images[2].width - 100 }}"
                  height="{{ artist.images[2].height - 100 }}"
                  alt="Artist image"
                />
              </td>
              <td>{{ artist.name }}</td>
              <td>{{ artist.popularity }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div *ngIf="topArtists" class="card bg-teal p-3">
          <h4><u>Top Tracks This Month:</u></h4>
          <table>
            <tr *ngFor="let track of topTracks">
              <td>
                <img
                  src="{{ track.album.images[2].url }}"
                  width="{{ track.album.images[2].width - 4 }}"
                  height="{{ track.album.images[2].width - 4 }}"
                  alt="Track image"
                />
              </td>
              <td>{{ track.name }}</td>
              <td>{{ getArtistNames(track.artists) }}</td>
              <td>{{ track.popularity }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
