<div class="container-fluid p-4">
  <div *ngIf="tableType === 'artists' && topArtists" class="card bg-teal p-3">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Artist</th>
          <th>Genres</th>
          <th>Popularity</th>
          <th>Followers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artist of topArtists?.items; let i = index">
          <td>{{ i + 1 }}.</td>
          <td>
            <img
              src="{{ artist.images[2].url }}"
              width="50"
              height="50"
              class="me-2"
              alt="Artist image"
            />{{ artist.name }}
          </td>
          <td>{{ artist.genres.join(", ") || "N/A" }}</td>
          <td>{{ artist.popularity }}</td>
          <td>{{ artist.followers.total | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
