<div class="bg-dark vh-100">
  <div class="header text-white p-3">
    <h1>Spotify Profile</h1>
  </div>
  <div *ngIf="profile.display_name" class="p-5">
    <div class="row gx-3">
      <div class="card col-6 p-3">
        <section id="profile" class="row">
          <h2>
            Logged in as
            <span id="displayName">{{ profile.display_name }}</span>
          </h2>
          <div class="col-3">
            <span id="avatar" class="border border-secondary"
              ><img src="{{ profile.images[0].url }}" alt="No profile avatar" />
            </span>
          </div>
          <div class="col-auto d-flex flex-column">
            <ul class="flex-grow-1 d-flex flex-column justify-content-between">
              <li>
                User ID:
                <span id="id" class="text-danger">{{ profile.id }}</span>
              </li>
              <li>
                Country: <span id="country">{{ profile.country }}</span>
              </li>
              <li>
                Email: <span id="email">{{ profile.email }}</span>
              </li>
              <li>
                Spotify URI: <a id="uri" href="#">{{ profile.uri }}</a>
              </li>
              <li>
                Link:
                <a id="url" href="#">{{ profile.external_urls.spotify }}</a>
              </li>
              <li>
                Profile Image:
                <span id="imgUrl">{{ profile.images[0].url }}</span>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="card col-5 mx-5 p-3">
        <ul>
          <li>Somethign</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet />
